     
 

 .first input{
        width: 250px;
        height: 40px;
        margin-bottom: 10px;
        border: 1px solid;
        border-radius: 10px;
        outline: none;
        background:rgb(255, 255, 255,0.7);
  }

 .sec input{
        width: 250px;
        height: 40px;
        margin-bottom: 10px;
        border: 1px solid;
        border-radius: 10px;
        outline: none;
        background: rgb(255, 255, 255,0.7);
  }

 
 .date input{
        width: 200px;
        height: 40px;
        margin-bottom: 20px;
        border: 1px solid;
        border-radius: 10px;
        outline: none;
        background: rgb(255, 255, 255,0.7);
        text-align: center;
  }

 .mf input{
        margin-bottom: 20px;
        accent-color:rgb(83, 13, 13) ;

  }

 .mf label{
        font-size: 20px;
  }

 .signup input{
        width: 230px;
        height: 40px;
        margin-bottom: 10px;
        border: 1px solid;
        border-radius: 20px;
        font-size: 25px;
        background-color: rgb(114, 39, 39);
  }

 .signup input:hover{
        background-color:rgb(161, 27, 27); 
        transform: scale(1.1);
  }

 
